.CardModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;

  &-modale {
    background: white;
    width: 800px;
    height: 450px;
    margin: auto;
    border: 3px solid #282c34;
    border-radius: 5px;
    display: flex;
  }

  &-image {
    width: 300px;
    margin: auto;

    & img {
      width: 100%;
      border-radius: 20px;
      border: #282c34 4px solid;
    }
  }

  &-informations {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    width: 90%;
  }

  &-setInfo {
    width: 90%;
  }

  &-logos {
    display: flex;
    height: 30px;
    margin-left: auto;
    & img {
      height: 100%;
      margin-left: 10px;
    }
  }
}
