.SideBar {
  display: flex;
  width: 250px;
  background-color: #d84432;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  border: #323230 3px solid;
  overflow-x: auto;
  height: 100%;
  padding-bottom: 7px;

  &-serie {
    margin: 3.3px 0;
    text-align: center;

    &.selected .SideBar-serieName {
      color: #d84432;
    }

    &Name {
      border: #323232 solid 2px;
      border-radius: 6px;
      background: #d3d3d3;
      font-weight: bold;
      padding: 5px 10px;
      color: #282c34;
      cursor: pointer;
    }
  }

  &-setList {
    margin: auto;
    display: none;
    width: 90%;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5px;

  }

  &-setElement {
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: 3px;
    cursor: pointer;
    width: 35px;
    height: 35px;

    &.selected {
      background: #f1b700;
    }

    &:hover {
      background: #c49600;
    }

    img {
      width: 35px;
      height: 35px;
    }
  }

  &-category {
    width: 98%;
    padding-right: 3px;
    height: calc(100% - 50px);
    overflow-y: auto;

    &Name {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      border: #323232 solid 2px;
      border-radius: 6px;
      background: #2c2c2c;
      color: #c6c6c6;
      cursor: pointer;
      margin-top: 7px;
      padding: 7px 5px;
    }

    &Content {
      display: none;

      &>* {
        margin-top: 3px;
        margin-bottom: 3px;
      }
    }
  }

  &-secondaryButton {
    border: #323232 solid 2px;
    border-radius: 6px;
    background: #d3d3d3;
    font-weight: bold;
    padding: 10px 10px;
    color: #282c34;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;

    &:disabled {
      background-color: #707070 !important;
      pointer-events: none;
    }
  }
}

.SideBar-categoryName.isOpened+.SideBar-categoryContent {
  display: flex;
  flex-direction: column;
}

.SideBar-serieName.isOpened+.SideBar-setList {
  display: grid;
}