@import "../../scss/variables.scss";

.StatPage {
  width: 100%;
  height: calc(100% - 126px);
  position: absolute;
  display: flex;
  margin-top: 50px;

  & h2 {
    margin-left: 20px;
    font-size: 30px;
  }

  &-left {
    width: 80%;
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto 0px auto 20px;
    padding: 0;
  }

  &-mainChart {
    height: 100%;
    overflow: auto;

    &Container {
      height: calc(100% - 225px);
      background-color: $primary-bg;
    }
  }

  &-right {
    display: flex;
    margin: auto 20px auto;
    flex: 1 0;
    height: calc(100% - 40px);
    min-width: 350px;
    background-color: $primary-bg;

    &Datas {
      width: 100%;
      padding: 0 10px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: 100%;
      margin: 0 auto;
      overflow-x: hidden;

      & *::-webkit-scrollbar-track {
        background-color: $primary-bg !important;
      }
    }
  }

  &-chart {
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &-swipe {
    margin-left: 10px;
    margin-top: 10px;
  }

  &-radialContainer {
    margin: 0 auto;
    width: 150px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-radialCharts {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 5px;

    &Container {
      margin-top: 20px;
      height: 205px;
      background-color: $primary-bg;
    }
  }

  &-radialName {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: $white;
    margin-top: 10px;
  }

  &-radialData {
    position: absolute;
    width: 150px;
    top: 50px;
    left: 0;
    font-size: 20px;
    color: white;
    text-align: center;
  }
}

.radial-graph {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  .radial-graph,
  .shape,
  .mask,
  .fill {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .shape,
  .mask,
  .fill {
    position: absolute;
    background-color: #ebeff1;
  }

  .mask,
  .fill {
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    border-radius: 50%;
  }

  .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }

  .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: $primary;
  }

  .cutout {
    margin-left: 15px;
    margin-top: 15px;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: #2c2c2c;
    border-radius: 50%;
  }

}