@import "../../../scss/variables.scss";

.ButtonComponent {
  position: relative;
  height: fit-content;

  & button {
    color: $white;
    background: $primary-radiant;
    padding: 15px 10px;
    width: 100%;
    clip-path: clipPath(15px);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    box-sizing: content-box;
    border: none;
    z-index: 3;
    position: relative;

    &:disabled {
      background: $white;
      color: $primary-border;
    }
  }

  &:hover::before {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: $primary;
    position: absolute;
    top: -5px;
    left: -5px;
    clip-path: clipPath(18px);
    z-index: 1;
  }

  &:hover::after {
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background-color: $primary-bg;
    position: absolute;
    top: -4px;
    left: -4px;
    clip-path: clipPath(18px);
    z-index: 2;
  }

  &.size300 {
    & button {
      width: 300px;
    }

    width: 300px;
  }
}