@import "../../../scss/variables.scss";

.ButtonComponent {
  position: relative;
  height: fit-content;

  & button {
    color: $white;
    background: $primary-radiant;
    padding: 15px 10px;
    width: 200px;
    clip-path: clipPath(15px);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    box-sizing: content-box;
    border: none;
  }

  &:hover::before {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: $primary;
    position: absolute;
    top: -5px;
    left: -5px;
    clip-path: clipPath(18px);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none"><polygon points="16 3, 199 3, 199 142, 184 198, 1 198, 1 56" fill="black"/></svg>') 0/100% 100%,
      linear-gradient(white, white);
  }
}