@import "../../scss/variables.scss";

.RenewPassword {
  &-Page {
    width: 100%;
    height: 100%;
    display: flex;

    h2 {
      margin-top: 0;
    }

    & .Logo {
      height: 70px;
      margin-top: 10px;

      img {
        height: 50px;
        width: auto;
      }
    }

    & .BackButton {
      position: absolute;
      z-index: 2;
      left: 8px;
      top: 8px;
      cursor: pointer;

      svg {
        width: 40px;
        height: 40px;
        color: $primary;
        stroke: $primary;
        stroke-width: 2px;
      }
    }
  }

  &-Form {
    font-size: 30px;
    padding: 0 0 20px 0;
    width: 400px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #181526;
    color: #f1f5fe;
    min-height: 330px;
  }

  &-submitted {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  &-renewPassword {
    font-size: 13px;
    color: $primary;
    // margin-bottom: -5px;
    transform: translateY(-10px);
  }

  &-toSignUp {
    font-size: 15px;
    width: 290px;
    margin: 10px 0;

    & a {
      text-decoration: none;
      font-weight: bold;
      color: $primary
    }
  }

  &-inputs {
    margin: 15px 0 10px;
  }


}