@import "../../scss/variables.scss";

.CardModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  color: $white;

  &-modale {
    background: $primary-bg;
    width: 800px;
    height: 450px;
    margin: auto;
    border-radius: 5px;
    display: flex;
  }

  &-image {
    width: 300px;
    margin: auto;

    & img {
      width: 100%;
    }
  }

  &-informations {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    width: 90%;
  }

  &-setInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 83%;

    &>*:last-child {
      margin-top: auto;
    }
  }


  &-logos {
    display: flex;
    margin-left: auto;

    & img {
      box-shadow: white 0 0 10px 1px;
      border-radius: 100%;
      background-color: white;
      height: 30px;
      margin: 0 5px;
      padding: 3px;
    }
  }
}