@import "../../scss/variables.scss";

.CardModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  color: $white;
  border: 1px solid $primary-border;
  box-sizing: border-box;

  &-modale {
    background: $primary-bg;
    width: 100%;
    max-width: 1450px;
    height: 100%;
    display: flex;
    position: relative;
    border-right: 1px solid $primary-border;
  }

  &-misc {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    height: 585px;
    box-sizing: border-box;
    padding-bottom: 20px;
    clip-path: clipPath(30px);
    position: relative;

    &>* {
      z-index: 1;
    }

    &Container {
      width: 450px;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    & img {
      width: 330px;
      border-radius: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      left: 2px;
      top: 2px;
      clip-path: clipPath(30px);
      background-color: $primary-bg;
    }
  }

  &-name {
    width: 100%;
    background-color: $primary;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
  }

  &-subMisc {
    display: flex;
    margin: 10px;
    right: 0px;
  }

  &-setInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 83%;

    &>*:last-child {
      margin-top: auto;
    }
  }


  &-serieContainer {
    background-color: $primary-border;
    display: flex;
    clip-path: clipPath(10px);
    width: fit-content;
    position: relative;

    &>* {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      left: 2px;
      top: 2px;
      clip-path: clipPath(10px);
      background-color: rgb(8, 7, 19);
    }
  }

  &-rarityContainer {
    background-color: $primary-border;
    display: flex;
    clip-path: clipPath(10px);
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 10px;

    & span {
      margin: 0 3px;
      color: black;
      font-weight: bold;
    }

    &>* {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      left: 2px;
      top: 2px;
      clip-path: clipPath(10px);
      background-color: $primary;
    }

    & img {
      width: 30px;
      height: 30px;
    }
  }

  &-serie {
    margin: auto 0;
    font-size: 17px;
    padding: 10px;
    margin: 2px;
    background-color: $primary-bg;
    clip-path: clipPath(10px);
    z-index: 2;
  }

  &-set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px auto 15px;
    padding: 5px 0;
    clip-path: clipPath(10px);
    transform: translateX(-10px);

    & img {
      width: 30px;
      height: 30px;
    }
  }

  &-closeButton {
    width: 30px;
    height: 30px;
    margin: 8px;
    margin-left: 15px;
    cursor: pointer;


    & svg {
      width: 30px;
      height: 30px;
    }

    &Container {
      position: absolute;
      right: 0;
    }
  }

  &-confirmClose {
    border: 1px solid $primary;
    background-color: $dark;
    display: flex;
    margin: 10px 10px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    position: relative;

    & span {
      padding: 10px;
      width: 230px;
    }

    &>div {
      margin: 8px 0;
    }
  }

  &-possessions {
    width: 90%;
    height: 585px;
    margin: auto;
    display: flex;
    flex-direction: column;

    &Container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-possessionTitle {
    background-color: $primary;
    width: fit-content;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
  }

  &-possessionListHeader {
    display: flex;
    width: 100%;
    background-color: $tableHeader;
    padding: 10px;
    box-sizing: border-box;

    &>* {
      font-weight: bold;
    }
  }

  &-possessionList {
    border: 2px solid $primary;
    flex: 1 1 auto;
    overflow: auto;
  }

  &-possessionHeaders {
    display: flex;
    justify-content: space-between;
  }

  &-createPossessionButton {
    background-color: $primary-border;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 98%;
    height: 70px;
    margin: 10px auto 5px;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    clip-path: clipPath(10px);

    &>* {
      position: relative;
      z-index: 1;
    }

    & span {
      display: flex;
      align-items: center;

      &>* {
        margin: 5px;
      }
    }

    &:hover {
      color: $primary
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      left: 2px;
      top: 2px;
      clip-path: clipPath(10px);
      background-color: $dark;
    }
  }
}

@media (max-width: 1120px) {
  .CardModal {
    &-modale {
      flex-direction: column;
      overflow-y: scroll;
      align-items: center;
    }

    &-miscContainer {
      margin: 20px 0;
    }

    &-possessions {
      padding-bottom: 30px
    }
  }
}

@media (max-width: 535px) {
  .CardModal {
    &-miscContainer {
      margin-top: 40px;
      width: 95%;
    }

    &-misc {

      height: fit-content;

      &>img {
        width: 95%;
        max-width: 320px;
      }
    }

    &-possessionTitle {
      padding: 5px 10px;
      font-size: 15px;
      align-items: center;
      display: flex;
    }

    &-createPossessionButton span {
      text-align: center;
    }
  }

  // OVERRIDE BUTTON
  .CardModal-possessionHeaders .ButtonComponent {
    width: 120px !important;
    height: 25px !important;
    clip-path: clipPath(5px);

    & button {
      width: 120px !important;
      font-size: 15px;
      height: 25px !important;
      clip-path: clipPath(5px);
    }
  }
}