@import "../../scss/variables.scss";

.CardModal {
  background: $primary-bg;
  max-width: 95%;
  position: absolute !important;
  left: 50%;
  top: calc(38px + 50%);
  outline: none !important;
  overflow: auto;

  &-paddingContainer {
    padding: 30px;
    display: flex;
    padding-top: 40px;
    overflow: hidden auto;
    box-sizing: border-box;
    max-height: calc(trueHeight() - 76px);
  }

  & img {
    opacity: 0;
    transition: 0.3s;

    &.show {
      opacity: 1;
    }
  }

  &-cardInfos {
    display: flex;
    height: fit-content;
    margin: auto;

    &>* {
      z-index: 1;
    }

    &Container {
      width: 450px;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  &-cardMain {
    clip-path: clipPath(15px);
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    position: relative;
    height: fit-content;
    width: 360px;
    z-index: 10;

    & img {
      width: 330px;
      aspect-ratio: 300 / 410;
      border-radius: 20px;
      z-index: 1;
      margin: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      left: 1px;
      top: 1px;
      clip-path: clipPath(15px);
      background-color: $primary-bg;
    }
  }

  &-cardMisc {
    min-width: 300px;
    height: fit-content;
    margin-top: 34px;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  &-name {
    width: 100%;
    background-color: $primary;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 1;
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-stylizedContainer {
    background-color: $primary;
    display: flex;
    clip-path: clipPath(10px);
    width: fit-content;
    position: relative;
    font-size: 15px;
    transform: translate(-120%);
    animation: forwards slide-in 0.3s;
    opacity: 0;

    &>* {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      left: 1px;
      top: 1px;
      clip-path: clipPath(10px);
      background-color: $white;
    }
  }

  &-stylizedMain {
    color: $white;
    margin: auto 0;
    font-size: 15px;
    padding: 10px;
    margin: 1px;
    clip-path: clipPath(10px);
    background-color: $primary;
    z-index: 2;

    &>* {
      z-index: 1;
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 1px);
      height: calc(100%);
      left: 0px;
      top: 0px;
      clip-path: clipPath(10px);
      background-color: $primary-bg;
      z-index: 0;
    }
  }

  &-stylizedImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px auto 15px;
    padding: 6px 3px;
    clip-path: clipPath(10px);
    transform: translateX(-10px);
    font-weight: bold;

    & img {
      width: 30px;
    }
  }

  &-closeButton {
    width: 30px;
    height: 30px;
    margin: 8px;
    margin-left: 15px;
    cursor: pointer;


    & svg {
      width: 30px;
      height: 30px;
      color: $white;
    }

    &Container {
      top: 0;
      position: absolute;
      right: 0;
    }
  }

  &-confirmClose {
    border: 1px solid $primary;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    left: 50%;
    top: 50%;
    color: $white;
    position: absolute;

    & span {
      padding: 10px;
      width: 230px;
      text-align: center;
    }

    &>div {
      margin: 8px 0;
    }
  }

  &-buttonsContainer {
    display: flex;
    gap: 10px;
  }

  &-possessions {
    height: 585px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 800px;

    &Container {
      min-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-possessionHeaders {
    display: flex;
  }

  &-possessionTitle {
    background-color: $primary;
    width: fit-content;
    padding: 5px 15px;
    font-size: 15px;
    color: $white;
    margin-right: 10px;
  }

  &-possessionList {
    border: 2px solid $primary;
    flex: 1 1 auto;
    overflow: auto;
    transform: translateY(-1px);
  }

  &-createPossessionButton {
    background-color: $primary-border;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 98%;
    height: 45px;
    margin: 10px auto 5px;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    clip-path: clipPath(10px);

    &>* {
      position: relative;
      z-index: 1;
    }

    & span {
      display: flex;
      align-items: center;

      &>* {
        margin: 5px;
      }
    }

    &:hover {
      color: $primary
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      left: 2px;
      top: 2px;
      clip-path: clipPath(10px);
      background-color: $dark;
    }
  }
}


@media (max-width: 1600px) and (min-width: 1311px) {
  .CardModal {
    &-cardInfos {
      flex-direction: column;
      width: 360px;
    }

    &-cardMisc {
      margin: 0;
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
    }

    &-possessions {
      margin: 0;
      margin-left: 10px;
    }
  }
}

@media (max-width: 1310px) {
  .CardModal {
    &-paddingContainer {
      flex-direction: column;
    }

    &-cardInfos {
      flex-direction: row;
      margin: 0;
    }

    &-possessions {
      margin-top: 20px;
      padding-bottom: 0;
    }

    &-closeButtonContainer {
      right: 10px;
    }
  }
}

@media (max-width: 920px) {
  .CardModal {
    &-possessions {
      min-width: 0;
      width: 95%;
    }
  }

  .CardPossession {
    &-selectContainer {
      width: calc(50% - 20px) !important;
    }

    &-buttons {
      flex-direction: column;
      gap: 5px;
    }
  }
}

@media (max-width: 730px) {
  .CardModal {
    max-width: calc(100% - 20px);
    width: 100%;
    box-sizing: border-box;

    &-closeButtonContainer {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: end;
    }

    &-paddingContainer {
      padding: 0px;
    }

    &-possessions {
      min-width: 95%;
      padding-bottom: 10px;
    }

    &-cardInfos {
      flex-direction: column;
      width: 95%;
      margin: auto;
      align-items: center;
    }

    &-cardMisc {
      margin: 0;
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-120%);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}