.Card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden auto;

    &-imageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    & img {
        border-radius: 10px;
        width: 200px;
    }

    &-inputs {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: 10px auto;

        &>* {
            width: 300px;
            margin: 3px !important;
        }
    }

    &-add {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-add2 {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;

        &>* {
            width: 300px;
            margin: 5px auto !important;
        }
    }

    &-printings {
        background-color: rgb(247, 247, 247);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;

        &:hover {
            cursor: pointer;
            background-color: aliceblue;
        }
    }
}

#spec>.MuiAccordionSummary-content {
    display: flex;
    align-items: center;
}