@import "../../scss/variables.scss";

.OpeningPage {
  height: calc(100% - 76px);
  display: flex;
  flex-direction: column;


  &-description {
    background: $primary-bg;
    width: calc(100% - 40px);
    margin: 20px auto;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;

    & h1 {
      width: 300px;
      margin-right: auto;
      margin-left: 20px;
    }

    & span {
      width: calc(100% - 40px);
    }

    & span {
      padding-bottom: 20px;
    }
  }

  &-swippingArea {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
  }

  &-swippingContent {
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: $primary-bg;
    height: calc(100% - 20px);
    overflow: hidden;

    &.swipping2 {
      display: flex;
      background: none;
    }
  }

  &-setList {
    flex: 0 1 auto;
    overflow-y: scroll;
    border: 1px solid $primary-border;
    margin: 20px;
    margin-bottom: 5px;
    display: grid;
    gap: 10px 0;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    padding: 20px 10px;
  }

  &-set {
    width: 300px;
    padding: 10px;
    border: $primary 1px solid;
    display: flex;
    align-items: center;
    margin: auto;

    & img {
      margin-right: 5px;
      width: 30px;
      height: 30px;
      background-color: $white;
      border-radius: 1000px;
      padding: 3px;
    }

    &:not(.selected):hover {
      box-shadow: inset $primary 0 0 20px 1px;
      cursor: pointer;
    }

    &.selected {
      box-shadow: inset $primary 0 0 20px 10px;

    }
  }

  &-setChoice {
    height: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & h2 {
      margin-left: 20px;
    }

    &Input {

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      /* Firefox */
      -moz-appearance: textfield;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      padding: 5px 10px;
      font-weight: 400;
      font-size: 17px;
      color: $white;
      background-color: $primary-bg;
      box-sizing: border-box;
      outline: 0;
      line-height: 1.15;
      clip-path: clipPath(8px);
      border: none;
      z-index: 1;

      &Container {
        margin-left: 20px;
        position: relative;
        width: fit-content;
        height: 35px;
        display: flex;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          background-color: $primary;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          clip-path: clipPath(8px);
          pointer-events: none;
        }
      }


    }
  }

  &-flex {
    display: flex;

    & span {
      margin-left: 10px;
      align-items: center;
      display: flex;
    }
  }

  &-nextButton {
    width: fit-content;
    margin: 10px auto;
  }

  &-boosterCards {
    display: flex;
    flex: 1 1 auto;
    overflow-x: auto;
  }

  &-boosterContent {
    width: calc(100% - 20px);
    height: 120px;
    margin-left: 20px;
    background: $primary-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px !important;

    &Input {
      display: flex;
      height: 100%;
      width: fit-content;
      min-height: 600px;
    }

    &-features {
      display: flex;
      flex-direction: column;
      background-color: $primary-bg;
      padding-right: 5px;
      height: 100%;
    }

    &-validate {
      background: $primary-radiant;
      width: 40px;
      height: 40px;
      padding: 4px;
      clip-path: clipPath(7px);
      margin-left: 9px;
      cursor: pointer;

      & svg {
        color: $primary-bg;
        width: 100%;
        height: 100%;
      }
    }

    &-textInput {
      position: relative;
      width: 270px;
      height: 40px;
      margin: auto auto 5px auto;
      display: flex;
      justify-content: center;
      flex: 0 0 auto;

      &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        background-color: rgb(59, 153, 241);
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        clip-path: polygon(8px 0%, 100% 0%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0% 100%, 0% 8px);
      }

      input {
        width: 300px;
        display: flex;
        padding: 5px 10px;
        font-size: 17px;
        color: rgb(201, 201, 201);
        background-color: #161827;
        box-sizing: border-box;
        outline: 0;
        line-height: 1.15;
        clip-path: polygon(8px 0%, 100% 0%, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0% 100%, 0% 8px);
        border: none;
      }
    }

    &Others {
      flex: 1 1 auto;
      overflow: hidden;
    }

    &-element {
      height: 85px;
      width: 62px;
      min-width: 62px;
      box-sizing: border-box;
      border: 1px dashed $white;
      margin: 3px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      & img {
        width: 100%;
        clip-path: polygon(1px 1px,
            calc(100% - 1px) 1px,
            calc(100% - 1px) calc(100% - 1px),
            calc(100% - 1px) calc(100% - 1px),
            1px calc(100% - 1px),
            1px 1px);
        ;
      }

      &.reverse {
        animation: shine 0.8s infinite linear alternate;
        box-shadow: $primary 0 0 20px 0px;
      }
    }
  }

  &-typeSelect {
    margin: 5px auto;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  &-preselected {
    flex: 1 1 auto;
    display: flex;

    &ImgContainer {
      height: 350px;
      width: 251px;
      margin: auto;
      border: 1px dashed $primary;
    }

    & img {
      height: 100%;
      clip-path: polygon(5px 5px,
          calc(100% - 5px) 5px,
          calc(100% - 5px) calc(100% - 5px),
          calc(100% - 5px) calc(100% - 5px),
          5px calc(100% - 5px),
          5px 5px);
      ;
    }
  }

  &-possibleCards {
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-bg;

    &Container {
      height: 500px;
      margin-top: 20px;
      overflow-y: auto;
      margin-left: 20px;
    }
  }

  &-possibleCard {
    width: 70px;
    margin: 0;
    height: 97px;
    cursor: pointer;

    & img {
      width: 100%;
      clip-path: polygon(1px 1px,
          calc(100% - 1px) 1px,
          calc(100% - 1px) calc(100% - 1px),
          calc(100% - 1px) calc(100% - 1px),
          1px calc(100% - 1px),
          1px 1px);
      ;
    }
  }

  &-nextButton2 {
    padding: 10px;
  }

  &-end {
    height: 100%;
    display: flex;
    flex-direction: column;

    & h2 {
      color: $white;
      margin: 10px 20px;
    }

    &-buttonContainer {
      display: flex;
      width: fit-content;
      margin: auto auto 0 auto;

      &>* {
        margin: 20px;
      }
    }
  }

  &-addedCards {
    display: flex;
    width: calc(100% - 40px);
    margin: auto;
  }

  &-addedCard {
    width: calc(10% - 10px);
    margin: auto;
    aspect-ratio: 116/160;

    & img {
      width: 100%;
    }
  }

  &-mobileDescButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  &-closeDesc {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  &.step2 {
    overflow: auto;

    .OpeningPage-swippingArea {
      min-height: auto;
      overflow: initial;
      margin-bottom: 10px;
    }
  }

  &-swippingContent.swipping2 {
    overflow: auto;
    height: auto;
  }

  &.step3 {
    overflow: auto;

    .OpeningPage-swippingArea {
      min-height: auto;
      overflow: initial;
    }
  }
}

@keyframes shine {
  0% {
    box-shadow: $primary 0 0 5px 2px;
  }

  100% {
    box-shadow: $primary 0 0 10px 0px;
  }
}

@media (max-width: 955px) {

  .step2,
  .step3 {
    .OpeningPage {
      &-swippingContent.swipping2 {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      &-description {
        position: absolute !important;
        left: 0px;
        // display: none;
        z-index: 10;
        top: 56px;
        width: 100%;
        height: calc(100vh - 76px);
      }

      &-boosterCards {
        width: 100%;
        align-items: center;
        flex: none;
        padding: 5px;
        box-sizing: border-box;
      }

      &-possibleCards {
        justify-content: center;

        &Container {
          margin: 20px auto 10px;
          padding: 1px 0;
          max-height: 35vh;
        }
      }

      &-boosterContent {
        margin: auto;
        margin-top: 20px;
        width: 100%;
        padding: 0 !important;
        overflow: hidden;
        flex-wrap: wrap;
        height: auto;

        &Input {
          height: 600px;
        }

        &Others {
          width: calc(100% - 20px);
          height: fit-content;
          flex: none;
        }

        &-features {
          min-height: 600px;
        }
      }

      &swippingArea {
        overflow: auto;
      }

      &-nextButton2 {
        padding: 15px;
      }
    }
  }

  .step3 {
    .OpeningPage {
      &-swippingArea {
        margin-top: 20px;
      }

      &-addedCards {
        flex: 1 1 auto;
        flex-wrap: wrap;
        overflow-y: auto;
      }

      &-addedCard {
        min-width: 100px;
      }

      &-end {
        &-buttonContainer {
          justify-content: center;
          flex-wrap: wrap;
          margin: 0;
          width: 100%;
          margin-bottom: 10px;

          &>div {
            margin: 3px;

            & * {
              width: 320px !important;
            }
          }
        }
      }
    }
  }

  .step2 {
    overflow: auto;

    & .OpeningPage-swippingArea {
      flex: none
    }
  }

  .OpeningPage {
    &-set {
      width: 220px;
      font-size: 13px;
    }

    &-setList {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      margin-top: 5px;
    }

    &-description {
      font-size: 13px;
    }

    &-flex {
      flex-wrap: wrap;

      & span {
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 380px) {
  .step3 button {
    font-size: 17px;
  }

  .step3 .ButtonComponent {
    width: 300px !important;
    justify-content: center;
    display: flex;

    & button {
      width: 300px !important;
    }
  }
}