.CardManager {
  width: 100%;
  display: flex;
  height: calc(100vh - 131px);
  margin-top: 55px;
  transition: 0.5s;


  &-mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}