.CategorizedAutocompleteChecklist {
  position: relative;
  border-radius: 10px;
  display: flex;
  margin: 20px;


  &-dropdown {
    width: 100%;
    display: none;
    position: absolute;
    overflow: hidden auto;
    top: 100%;
    left: 0;
    flex-direction: column;
    word-break: normal;
    text-rendering: optimizeLegibility;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    max-height: 400px;
    z-index: 999;

    &.show {
      display: flex;
    }

    &Element {
      width: 100% !important;
      display: flex;
      align-items: center;
      padding: 15px 15px 15px 30px;
      cursor: pointer;

      &:hover {
        background: #f6f6f6;
      }

      & label {
        width: 100%;
        padding: 5px;
        font-size: 0.9rem;
      }

      &.selected {
        background-color: #dedede;

        &::before {
          content: " ";
          width: 8px !important;
          height: 8px;
          left: 10px;
          border-radius: 1000px;
          background-color: #f1b700;
          position: absolute;
        }
      }
    }
  }

  &-title {
    font-size: 1rem;
    padding: 20px 15px;
    font-weight: bold;
    background: #323232;
    color: #C9C9C9;
    cursor: pointer;

    &:hover {
      color: #d7b364;
    }

    &.selected {
      background-color: black;
      color: #f1b700;

      &:hover {
        color: #f1b700;
      }
    }
  }

}
