@import "../../scss/variables.scss";

.SingleCard {
  margin: auto;
  position: relative;
  height: 507px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 12px 10px 12px !important;
  background-color: $primary-bg;
  border: 1px solid $primary-border;

  &-possession {
    &-classic {
      top: 0;
      left: 0;
      clip-path: polygon(0% 99%, 100% 100%, 100% 0%);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    &-reverse {
      top: 0;
      left: 0;
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }

  &-notCollection {
    padding: 0;
    width: fit-content;
    clip-path: none;
  }

  &-collectionBackground {
    position: absolute;
    width: calc(100% - 36px);
    height: 309px;
    margin: 16px 16px;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
  }

  &:not(.SingleCard-notCollection) &-imgContainer {
    background-color: $primary-border;
  }

  &-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 17px;
    z-index: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-imgContainer {
    height: 316px;
    width: 230px;
    position: relative;
    overflow: hidden;
    background: #8c8c8c;
    z-index: 2;

    &:hover {
      cursor: pointer;

      &::after {
        content: "Voir plus";
        display: flex;
        font-weight: bolder;
        font-size: 30px;
        color: $white;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0
      }
    }

    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      z-index: 10;
      pointer-events: none;
      left: 0;
      top: 0;
    }

    & img {
      clip-path: polygon(2px 2px,
          calc(100% - 2px) 2px,
          calc(100% - 2px) calc(100% - 2px),
          2px calc(100% - 2px));
    }
  }

  &-img {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: relative;

  }
}

@media (max-width: 1100px) {
  .SingleCard {
    height: 430px;

    &-imgContainer {
      width: 180px;
    }

    &Overlay {
      width: 190px;
    }
  }
}