@import "../../scss/variables.scss";

.SingleCard {
  margin: auto;
  position: relative;
  height: 507px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 12px 10px 12px !important;
  background-color: $primary-bg;
  border: 1px solid $primary-border;

  &-notCollection {
    height: 316px;
    padding: 0 !important;
    border: 0;

    & .SingleCard-imgContainer::after {
      box-shadow: none;
    }
  }

  &-possession {
    &-classic {
      top: 0;
      left: 0;
      clip-path: polygon(0% 99%, 100% 100%, 100% 0%);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    &-reverse {
      top: 0;
      left: 0;
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }

  &-notCollection {
    padding: 0;
    width: fit-content;
    clip-path: none;
  }

  &-collectionBackground {
    position: absolute;
    border: 2px solid $primary-bg;
    width: calc(100% - 36px);
    height: 309px;
    margin: 16px 16px;
    top: 0;
    left: 0;
    // clip-path: clipPath(26px);
    pointer-events: none;
    z-index: 10;
  }

  &:not(.SingleCard-notCollection) &-imgContainer {
    clip-path: polygon(5px 5px,
        calc(100% - 5px) 5px,
        calc(100% - 5px) calc(100% - 5px),
        calc(100% - 5px) calc(100% - 5px),
        5px calc(100% - 5px),
        5px 5px);
    ;
  }



  &-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 17px;
    z-index: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-imgContainer {
    border-radius: 9px;
    height: 316px;
    width: 230px;
    position: relative;
    overflow: hidden;
    background: #8c8c8c;
    z-index: 2;

    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      box-shadow: inset $primary-bg 0 0 5px 10px;
      z-index: 10;
      pointer-events: none;
      left: 0;
      top: 0;
    }

    &:hover * {
      filter: none !important;
      cursor: pointer;
    }
  }

  &-img {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.CardQuantity {
  &-notOwned {
    img {
      filter: brightness(0.3) grayscale(100%);
    }
  }

  &-onlyReverse .SingleCard-possession-reverse {
    filter: brightness(0.3) grayscale(100%);
  }

  &-onlyClassic .SingleCard-possession-classic {
    filter: brightness(0.3) grayscale(100%);
  }
}