.CardManagerCardList {
  display: flex;
  flex: 1 1 auto;
  overflow: auto scroll;
  box-sizing: border-box;

  &-grid {
    width: 97.5%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    padding-bottom: 20px;
  }
}
