@import "../../../scss/variables.scss";

.SwipeCheckboxComponent {
  position: relative;
  height: fit-content;
  display: flex;
  width: fit-content;

  &-optionSelected {
    color: black !important;
    transition: 0.5s;

    &:hover {
      background-color: transparent !important;
    }
  }

  &-container {
    background-color: $primary;
    clip-path: clipPath(10px);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      left: 1px;
      top: 1px;
      clip-path: clipPath(10px);
      background-color: $primary-bg;
      z-index: 0;
    }
  }

  &-elements {
    padding: 3px;
    display: flex;
    clip-path: clipPath(10px);

    & span {
      display: flex;
      justify-content: center;
      padding: 7px 0;
      cursor: pointer;
      margin: 0;
      font-size: 15px;
      clip-path: clipPath(10px);
      color: $white;
      z-index: 1;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  & label {
    padding: 5px;
    z-index: 1;
    position: absolute;
    top: -20px;
    left: -3px;
    color: $white;
    background: $primary-radiant;
    clip-path: clipPath(5px);
    font-size: 15px;
  }

  &-activeElement {
    transition: 0.5s;
    transform: translateX(5px);
    z-index: 0;
    width: 80px;
    position: absolute;
    height: 34px;
    clip-path: clipPath(9px);
    background-color: $white;
  }
}