@import "../../scss/variables.scss";

.SwitchInput {
  & label {
    padding: 10px 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: $primary solid 1px;
    color: $primary;
  }

  &-light {
    background: $primary;
    margin-left: 10px;
    width: 60px;
    clip-path: clipPath(8px);
    height: 24px;
    display: flex;
    align-self: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $primary-bg;
      height: 22px;
      width: 58px;
      clip-path: clipPath(8px);
      margin: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $white;
      height: 18px;
      width: 25px;
      clip-path: clipPath(7px);
      margin: 3px;
      transition: 0.5s;
    }
  }

  #root &-disabled {
    border-color: $white;
    color: white;
    pointer-events: none;

    .SwitchInput-light {
      background-color: $white;
    }
  }

  &-activated &-light::after {
    background-color: $primary;
    transform: translateX(29px);
  }

  & input {
    display: none;
  }
}